*{
    margin: 0;
}
#hi{
    display: flex;
}
#part1{
    background-color: #2D9CDB;
    height: 663px;
    width: 250px;
}
.add{
    position: absolute;
    left: 20px;
    top: 30px;
    font-family: Arial, Helvetica, sans-serif;

}
.under{
    position: absolute;
    top: 110px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.under1{
    position: absolute;
   
    top: 170px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button{
    border: none;
    background-color: #2D9CDB;
    font-size: 27px;
    width: 250px;
    height: 50px;
    margin: 0;
}
 button:hover{
    background-color: #56ccf2;

}
#svg{
    background-color: #C4C4C4 ;
    width: 508%;
    height: 50px;
    overflow: hidden;

}
svg{
    position: absolute;
    left: 260px;
    top: 5px;
}
.user{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    padding-top: 50px;
    padding-left: 45px;
}
input{
    width: 500px;
    height: 50px;
    position: absolute;
    left: 295px;
    top: 200px;
    padding-left: 15px;
    font-size: 20px;
    background-color: #C4C4C4;
    border: none;
    border-radius: 5px;

}
.onurown{
    position: absolute;
    left: 490px;
    top: 300px;
    width: 100px;
    border-radius: 5px;
}
