<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Web Chat">
    <meta itemprop="description" content="Client-side WebRTC code samples">
    <meta itemprop="name" content="Home Chat">
    <meta name="mobile-web-app-capable" content="yes">
    <meta id="theme-color" name="theme-color" content="#ffffff">

    <base target="_blank">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <title>Home</title>
</head>

<body>
    <div id="app">
        <v-app>
            <v-content>
                <v-container fluid>
                    <v-row no-gutters>
                        <v-col md="2">
                            <side-bar />
                        </v-col>
                        <v-divider vertical></v-divider>
                        <v-col>
                            <chatting-component />
                        </v-col>
                    </v-row>
                </v-container>
            </v-content>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

    <script>
        Vue.component('side-bar', {
            template: `(% template "sidebar" .%)`
        })
        Vue.component('chatting-component', {
            template: `(% template "chattingComponent" .%)`
        })

        new Vue({
            el: '#app',
            vuetify: new Vuetify(),

        })
    </script>
</body>

</html>